@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* UNIVERSAL */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-shadow);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text);
}

.leaflet-control-attribution {
  display: none;
}

/* COLOR PALETTE */

:root {
  --color-primary: #931e1f;
  --color-secondary: #f1e3df;
  --color-accent: #db8432;
  --color-accent-2: #e73c7e;
  --color-accent-3: #23d5ab;
  --color-text: #272727;
  --color-shadow: #474747a2;
  --color-dark: #101010;
}

/* TYPOGRAPHY */

html {
  font-size: 62.5%;
  color: var(--color-text);
}

* {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 3.7rem;
  font-weight: 400;
}

h2 {
  font-size: 2.7rem;
  color: #aaaaaace;
  font-weight: 500;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
  max-width: 50ch;
}

li {
  list-style: none;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.7rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.9rem;
  }
}

/* IMAGES */

.img {
  width: 100%;
  object-fit: cover;
}

.img--logo {
  max-width: 40px;
  position: absolute;
  bottom: 1%;
  left: 20px;
  z-index: 1003;
  box-shadow: 0 0 15px var(--color-shadow);
  border-radius: 100%;
}

@media screen and (max-width: 768px) {
  .img--logo {
    bottom: 10%;
  }
}

/* ZOOM */

.zoom {
  position: absolute;
  right: 20px;
  bottom: 25%;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 0 5px var(--color-shadow);
  z-index: 1002;
}

.zoom__btn:first-child {
  border-bottom: 1px solid #aaa;
}

.zoom__btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .zoom {
    bottom: 18%;
    right: 15px;
  }
}

/* FLEX */

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex--wrap {
  flex-wrap: wrap;
}

.justify--between {
  justify-content: space-between;
}

.justify--around {
  justify-content: space-around;
}

.justify--center {
  justify-content: center;
}

.align--center {
  align-items: center;
}

.align--end {
  align-items: end;
}

/* GRIDS */

.grid {
  display: grid;
}

.gap--sm {
  gap: 1rem;
}

.gap {
  gap: 2rem;
}

.gap--lg {
  gap: 4rem;
}

.grid--center {
  justify-items: center;
}

/* BUTTON */

.btn {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  padding: 0.7rem;
  z-index: 1000;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 0.5rem;
  }
}

/* ICON */

.icon {
  cursor: pointer;
}

.icon--sm {
  width: 30px;
  margin-right: 20px;
}

.icon--search {
  flex-shrink: 0;
  transform: translateY(-2px);
  margin-right: 1.5rem;
  width: 25px;
  height: 25px;
}

.icon--close {
  position: absolute;
  box-shadow: 0 0 5px var(--color-shadow);
  border-radius: 100%;
  padding: 12px;
  width: 50px;
  height: 50px;
  transition: 0.15s ease;
}

.icon--details {
  margin-right: 1.5rem;
}

@media screen and (max-width: 768px) {
  .icon--search,
  .icon--close {
    width: 20px;
    height: 20px;
  }

  .icon--search {
    transform: translateY(-1px);
  }

  .icon--search__list {
    margin-right: 0.5rem;
  }
}

/* MAP */

.map__container {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    45deg,
    var(--color-dark),
    var(--color-text),
    var(--color-shadow)
  ) !important;
  padding: 0 2rem;
  animation: map-background 1.5s ease-in-out;
}

.map__marker {
  font-size: 1.4rem;
}

@keyframes map-background {
  0% {
    background-position: 0 50%;
    opacity: 0;
  }
}

body {
  background: linear-gradient(
    -45deg,
    var(--color-primary),
    var(--color-accent-2),
    var(--color-accent),
    var(--color-accent-3)
  );
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* HAMBURGER BAR */

.hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--color-primary);
  border-radius: 100%;
  width: 45px;
  height: 45px;
  gap: 0.7rem;
  transition: 0.3s ease;
  z-index: 1008;
  box-shadow: 0 0 5px var(--color-shadow);
  cursor: pointer;
}

.hamburger:hover,
.hamburger.active {
  background-color: var(--color-text);
}

.hamburger.active .hamburger__bar {
  rotate: 45deg;
  transform: translate(3px, -1px);
}

.hamburger.hidden {
  display: none;
}

.hamburger__bar {
  display: block;
  background-color: #fff;
  height: 1px;
  transition: 0.3s ease;
}

.hamburger__bar:nth-child(1) {
  width: 25px;
}

.hamburger__bar:nth-child(2) {
  width: 17px;
}

.hamburger__bar:nth-child(3) {
  width: 10px;
}

@media screen and (max-width: 768px) {
  .hamburger {
    top: 10px;
    right: 10px;
    transform: scale(0.8);
  }
}

/* SIDEBAR */

.sidebar {
  position: absolute;
  background-color: var(--color-dark);
  width: 500px;
  height: 100vh;
  box-shadow: 0 0 5px var(--color-shadow);
  transition: 0.3s opacity ease-in, 0.3s right ease-out;
  z-index: -1;
  text-align: center;
  padding: 5%;
  overflow: auto;
  opacity: 0;
}

.sidebar__heading {
  border-bottom: 1px solid var(--color-text);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.sidebar.active {
  opacity: 1;
  right: 0;
  z-index: 1007;
  animation: slide 0.3s ease;
}

@keyframes slide {
  0% {
    right: -20px;
  }

  100% {
    right: 0;
  }
}

.sidebar__logo {
  max-width: 50%;
  margin-bottom: 4rem;
}

.sidebar__copyright {
  color: #aaaaaa9f;
  font-size: 1.6rem;
}

.sidebar__lists {
  color: #fff;
  font-size: 3.3rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.sidebar__list {
  padding: 2rem 0;
  transition: 0.3s ease;
  cursor: pointer;
}

.sidebar__list:hover {
  text-shadow: 0 0 50px var(--color-secondary);
}

@media screen and (max-width: 1500px) {
  .sidebar {
    width: 400px;
  }

  .sidebar__lists {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    padding: 10vh 0;
  }

  .sidebar__logo {
    max-width: 35%;
  }

  .sidebar__lists {
    font-size: 2.5rem;
  }

  .sidebar__copyright {
    font-size: 1.4rem;
    max-width: 30ch;
  }
}

/* INPUT */

.input {
  border: 0;
  outline: 0;
  padding: 1rem 1.5rem;
  background: 0;
  font-family: "Inter", serif;
  transform: translateY(-1px);
  font-size: 1.6rem;
  font-weight: 500;
  color: #131313;
  min-width: 0;
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .input {
    padding: 0.8rem 1.3rem;
  }
}

/* LINK FLOORS */

.link__floors {
  position: absolute;
  bottom: 1%;
  right: 15px;
  z-index: 1002;
  box-shadow: 0 0 5px var(--color-shadow);
  background-color: #fff;
  border-radius: 30px;
}

.link__floor {
  padding: 0 1.5rem;
  margin: 0;
  border-right: 1px solid #ccc;
  font-size: 2rem;
  transition: 0.3s ease;
  border-radius: 30px;
  cursor: pointer;
}

.link__floor:hover {
  color: var(--color-accent);
}

.link__floor.active {
  color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .link__floors {
    bottom: 10%;
  }
}

/* SEARCH OVERLAY */

.search__overlay {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  z-index: 1005;
  top: 0;
  left: 0;
  display: none;
}

.search__overlay.active {
  display: block;
}

.search__overlay.active + .search__bar {
  cursor: pointer;
  width: 100%;
  margin: 2.3rem 0;
  max-width: 100%;
}

.search__close {
  width: 20px;
  height: 20px;
  margin-right: 1.5rem;
}

/* SEARCH */

.search__bar,
.search__lists {
  box-shadow: 0 0 10px var(--color-shadow);
}

.search__bar {
  position: relative;
  z-index: 1006;
  background-color: #fff;
  border-radius: 30px;
  display: inline-flex;
  margin: 2.3rem 0 0 3rem;
  cursor: auto;
}

.search__lists {
  position: absolute;
  top: 130%;
  left: 0;
  border-radius: 10px;
  width: 100%;
  padding: 0;
  z-index: 1000;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #1b1b1b;
  overflow: auto;
  max-height: 60vh;
}

.search__list {
  padding: 0.7rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to left, var(--color-secondary), #fff);
  align-items: center;
}

.search__list:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.search__list:hover,
.search__list:hover .search__floor {
  color: #fff;
}

.search__list:hover {
  background: var(--color-primary);
}

.search__destination {
  padding-right: 1rem;
}

.search__floor {
  color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 600;
  font-style: italic;
  padding: 0 1rem;
}

@media screen and (max-width: 768px) {
  .search__bar {
    margin: 1.3rem auto;
    cursor: auto;
    width: 100%;
    gap: 1.5rem;
    justify-content: start;
    max-width: 70%;
  }

  .search__list {
    padding: 1rem 0.5rem;
    display: flex;
  }

  .search__floor {
    border-left: 1px solid var(--color-primary);
  }
}

/* DETAILS */

.map__details {
  background: #fff;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  right: -50%;
  width: 500px;
  height: 95vh;
  z-index: 1008;
  box-shadow: 0 0 10px var(--color-shadow);
  border-radius: 20px;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease;
  opacity: 0;
  overflow: auto;
}

.map__details.active {
  display: flex;
  right: 20px;
  max-height: 100vh;
  opacity: 1;
}

.details__image {
  height: 40%;
}

.details__content {
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
  gap: 0.5rem;
}

.details__description {
  padding: 2.5rem 3rem;
}

.details__category {
  font-size: 1.8rem;
  font-weight: 600;
}

.details__close {
  top: 20px;
  right: 20px;
  background-color: #fff;
}

@media screen and (max-width: 1400px) {
  .map__details {
    width: 100%;
  }

  .details__image {
    height: 300px;
  }

  .details__description {
    padding: 2.5rem 3rem 4rem;
  }

  .map__details.active {
    right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .details__close {
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    padding: 1rem;
  }
}

/* SCREEN OVERLAY */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1008;
  background-color: hsla(0, 0%, 0%, 0.95);
  padding: 2rem;
  max-width: 0;
  transition: 0.3s ease;
  opacity: 0;
  overflow: auto;
}

.overlay.active {
  display: block;
  max-width: 100%;
  opacity: 1;
}

.overlay__img {
  border-radius: 20px;
  position: relative;
}

.overlay__close {
  top: 40px;
  right: 50px;
  background-color: var(--color-dark);
  box-shadow: 0 0 4px #aaa;
}

.overlay__close:hover {
  background-color: var(--color-primary);
  box-shadow: none;
}

@media screen and (max-width: 1024px) {
  .overlay__close {
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .overlay {
    padding: 0.5rem;
  }

  .overlay__img {
    top: 50%;
    transform: translateY(-50%);
  }
}
